
    <h3 id="tables">Current Running Buses</h3>
    <div class="bs-component">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Bus Licence Number</th>
                <th>Current Stop</th>
                <th>Arrived Time</th>
                <th>Students</th>
                <th>Map</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>AP 28 DT 5473</td>
                <td>Gachibowli</td>
                <td>4:45 PM</td>
                <td>10</td>
                <td>
                    <a href="#">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </a>

                </td>


            </tr>
            </tbody>
        </table>
    </div>

